<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Admin Section</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <h6>Admin Page</h6><br>
        <ul>
            <li><a routerLink="/admin/mange-rests">Resturants</a></li>
        </ul>
    </mat-drawer>
</mat-drawer-container>