<div style="padding-left: 1%; border: 2px solid rgb(112, 37, 146) ;">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="newRest.Name" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" [(ngModel)]="newRest.Address" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" [(ngModel)]="newRest.Phone" required>
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="AddNewRest(newRest)">Add New</button>
</div>