<mat-card style="width: 100%;">
    <h3>ِAdd Resturant</h3>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="newRest.Name" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" [(ngModel)]="newRest.Address" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" [(ngModel)]="newRest.Phone" required>
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="AddNewRest(newRest)">Add New</button>
</mat-card>