<!-- <mat-list role="list">
    <mat-list-item role="listitem"> Restaurant Name : {{rest.Name}} @{{rest.Address}} - {{rest.Phone}}</mat-list-item>
</mat-list> -->





<br>
<br>


<mat-grid-list cols="4" rowHeight="5:1">
  <mat-grid-tile [colspan]="3" [rowspan]="3">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Resturant Name: {{rest.Name}}</mat-card-title>
        <mat-card-subtitle style="font-size: 14pt;">{{rest.Address}}</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image></div>
    </mat-card>
</mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-card style="width: 100%;">
            <button mat-raised-button color="primary" (click)="showAddMeal()">Add Meal</button>
        </mat-card>
    </mat-grid-tile>
    <br>
    <br>
    <mat-grid-tile [colspan]="3" [rowspan]="6">
        <div class="example-container">
            <table mat-table [dataSource]="meals" class="mat-elevation-z8">
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                </ng-container>
                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
                </ng-container>
                <ng-container matColumnDef="IsActive">
                  <th mat-header-cell *matHeaderCellDef> IsActive </th>
                  <td mat-cell *matCellDef="let element"> {{element.IsActive}} </td>
              </ng-container>
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="warn" (click)="DeleteMeal(element.Id)">Delete</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay ; sticky: true "></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="example-element-row"
                    (click)="onRowClick(row)"></tr>
            </table>
        </div>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="6">
        <router-outlet></router-outlet>
    </mat-grid-tile>
</mat-grid-list>
