.example-container {
    width: 100%;
    height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

tr.example-element-row:hover {
    background: whitesmoke;
}

tr.example-element-row:active {
    background: #efefef;
}