<mat-grid-list cols="6" rowHeight="6:1">
    <mat-grid-tile [colspan]="6" [rowspan]="4">
        <mat-card style="width: 100%;">
            <form [formGroup]="addInitiativeForm" (ngSubmit)="onAddInitiativeFormSubmit($event)">
                <mat-form-field>
                    <mat-label>Resturants:</mat-label>
                    <mat-select formControlName="RestaurantId">
                        <mat-option *ngFor="let rest of rests" [value]="rest.Id">{{rest.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="submitted && f.RestaurantId.errors">
                    <mat-error *ngIf="f.RestaurantId.errors.required">Resturnant is required</mat-error>
                </div>
                <span style="margin-left: 20px;">
                    <input type="time" formControlName="ExpectedCallTime">
                    <div *ngIf="submitted && f.ExpectedCallTime.errors">
                        <mat-error *ngIf="f.ExpectedCallTime.errors.required">Resturnant is required</mat-error>
                    </div>
                </span>
                <span style="margin-left: 20px;">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </span>
            </form>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>