<mat-card>
    <mat-card-content>
        <mat-tab-group [backgroundColor]="'primary'" dynamicHeight>
            <mat-tab label="SignUp">
                <div class="mat-elevation-z4">
                    <mat-error *ngIf="_responseError">Error in Creating New User</mat-error><br><br>
                    <mat-progress-bar mode="indeterminate" *ngIf="_progressBar"></mat-progress-bar><br>
                    <form [formGroup]="RegisterForm" (ngSubmit)="onRegisterFormSubmit($event)">
                        <mat-vertical-stepper [linear]="true" #stepper>
                            <mat-step>
                                <ng-template matStepLabel>Basic Info:</ng-template>
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="example@example.domain" formControlName="Email">
                                </mat-form-field>
                                <div *ngIf="submitted && f.Email.errors">
                                    <mat-error *ngIf="f.Email.errors.required">Email is required</mat-error>
                                    <mat-error *ngIf="f.Email.errors.email">Email is Invalid</mat-error>
                                </div>
                                <mat-form-field>
                                    <mat-label>UserName</mat-label>
                                    <input matInput placeholder="UserName" formControlName="UserName">
                                </mat-form-field>
                                <div *ngIf="submitted && f.UserName.errors">
                                    <mat-error *ngIf="f.UserName.errors.required">UserName is required</mat-error>
                                </div>
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <div *ngIf="submitted && f.Password.errors">
                                    <mat-error *ngIf="f.Password.errors.required"> Password is required</mat-error>
                                    <mat-error *ngIf="f.Password.errors.pattern"> Password is Invalid</mat-error>
                                    <mat-error *ngIf="f.Password.errors.minlength"> Password At Least 6 characters
                                    </mat-error>
                                </div>
                                <mat-form-field>
                                    <mat-label>Password Confirm</mat-label>
                                    <input matInput [type]="hidec ? 'password' : 'text'"
                                        formControlName="ConfirmPassword">
                                    <button mat-icon-button matSuffix (click)="hidec = !hidec"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidec">
                                        <mat-icon>{{hidec ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <div *ngIf="submitted && f.ConfirmPassword.errors">
                                    <mat-error *ngIf="f.ConfirmPassword.errors.required"> Password Confimation is
                                        required
                                    </mat-error>
                                    <mat-error *ngIf="f.ConfirmPassword.errors.mustMatch"> Password Confimation MisMatch
                                    </mat-error>
                                </div>
                                <div>
                                    <button mat-button matStepperNext type="button">Next</button>
                                </div>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>User Info:</ng-template>
                                <mat-form-field>
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="First Name" formControlName="FirstName">
                                </mat-form-field>
                                <div *ngIf="submitted && f.FirstName.errors">
                                    <mat-error *ngIf="f.FirstName.errors.required">FirstName is required</mat-error>
                                </div>
                                <mat-form-field>
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="First Name" formControlName="LastName">
                                </mat-form-field>
                                <div *ngIf="submitted && f.LastName.errors">
                                    <mat-error *ngIf="f.LastName.errors.required">LastName is required</mat-error>
                                </div>
                                <mat-form-field>
                                    <mat-label>Phone</mat-label>
                                    <input matInput placeholder="First Name" formControlName="Phone">
                                </mat-form-field>
                                <div *ngIf="submitted && f.Phone.errors">
                                    <mat-error *ngIf="f.Phone.errors.required">Phone is required</mat-error>
                                </div>
                                <mat-form-field>
                                    <mat-label>Mobile</mat-label>
                                    <input matInput placeholder="First Name" formControlName="Mobile">
                                </mat-form-field>
                                <div *ngIf="submitted && f.Mobile.errors">
                                    <mat-error *ngIf="f.Mobile.errors.required">Mobile is required</mat-error>
                                    <mat-error
                                        *ngIf="f.Mobile.errors.maxLength ||f.Mobile.errors.minLength || f.Mobile.errors.pattern">
                                        Mobile is Invalid</mat-error>

                                </div>
                                <div>
                                    <button mat-button matStepperPrevious type="button">Back</button>
                                    <button mat-button (click)="stepper.reset()" type="button">Reset</button>
                                    <button mat-raised-button color="primary" type="submit">Submit</button>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </form>
                </div>
            </mat-tab>
            <mat-tab label="SignIn">
                <div class="mat-elevation-z4">
                    <mat-error *ngIf="_lresponseError">Error in Creating New User</mat-error><br><br>
                    <mat-progress-bar mode="indeterminate" *ngIf="_lprogressBar"></mat-progress-bar><br>
                    <form [formGroup]="LoginForm" (ngSubmit)="onLoginFormSubmit($event)">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="example@example.domain" formControlName="Email">
                        </mat-form-field>
                        <div *ngIf="lsubmitted && fl.Email.errors">
                            <mat-error *ngIf="fl.Email.errors.required">Email is required</mat-error>
                            <mat-error *ngIf="fl.Email.errors.email">Email is Invalid</mat-error>
                        </div>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput [type]="lhide ? 'password' : 'text'" formControlName="Password">
                            <button mat-icon-button matSuffix (click)="lhide = !lhide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="lhide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div *ngIf="lsubmitted && fl.Password.errors">
                            <mat-error *ngIf="fl.Password.errors.required"> Password is required</mat-error>
                            <mat-error *ngIf="fl.Password.errors.pattern"> Password is Invalid</mat-error>
                            <mat-error *ngIf="fl.Password.errors.minlength"> Password At Least 6 characters
                            </mat-error>
                        </div>
                        <div>
                            <button mat-raised-button color="primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>